/* Define the color palette using CSS variables */
:root {
    --primary-color: #002c2e;
    --secondary-color: #295b1f;
    --accent-color: #66ced6;
    --highlight-color: #7d84b2;
    --text-color: #571f4e;
}

/* Reset some default styles to ensure consistent appearance across browsers */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Arial", sans-serif;
    /* font-family: "Righteous", cursive; */
    line-height: 1.6;
    color: #fff;
}

/* Main container styles */
.main {
    background-color: var(--secondary-color);
    padding-bottom: 20px;
}

/* Navigation styles */
header {
    background-color: var(--primary-color);
    padding: 30px;
}

.nav-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.7rem;
    white-space: nowrap;
}

/* Main content styles */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
h3 {
    font-family: "Righteous", cursive;
    color: #66ced6;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

p,
ul {
    margin-bottom: 10px;
}

/* Links styles */
a {
    color: var(--accent-color);
    text-decoration: none;
}
section {
    margin-bottom: 30px;
}

a:hover {
    text-decoration: underline;
}

/* Responsive layout for smaller screens */
@media (max-width: 700px) {
    .nav-links ul {
        flex-wrap: wrap;
    }

    .nav-links li {
        margin-bottom: 10px;
    }

    .container {
        padding: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}
